# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packages
*.whl