<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
div{
            width: 350px;
            border: 2px solid black;  /* outline */
            padding: 20px;
        }
                #r{
            color: white;
            background-color: rgb(40, 173, 255);
        }
    </style>
</head>
<body>
    <center>
        <b>
        <h1>LOGIN</h1>
    <div>
        <form>
            <table>
                <tr>
                    <td>Username&nbsp;:</td>
                    <td><input type="text"></td>
                </tr><br><br>
                <tr>
                    <td>Password&nbsp;:</td>
                    <td><input type="password"></td>
                </tr>
            </table> <br> 
            <button type="submit" id="r">LOGIN</button><br><br>
            <button type="submit" >Forgot Password </button>
        </form>
    </div>
    </b>
    </center>
</body>
</html>